body {
    
    background: rgb(103, 66, 230);
    background: linear-gradient(135deg, rgba(103, 66, 230, 1) 35%, rgba(114, 68, 237, 1) 100%);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    
}


.error-image {
    
    max-width: 720px;
    width: 90%;
    margin: auto;
    text-align: center;
    
}


.error-image h1 {
    
    font-size: 120px;
    margin: 48px auto 20px;
    
}


.error-msg-container {
    
    margin: 18px auto 30px auto;
    max-width: 800px;
    width: 80%;
    text-align: center;
    color: white;
    
}


.error-msg-container a {
    font-size: 18pt;
    color: skyblue;
    cursor: pointer;
    text-decoration: none;
}


.error-msg-container a:hover {
    color: darkblue;
}


.error-msg-container h1 {
    
    font-size: 56px;
    max-width: 560px;
    margin: auto auto 48px;
    
}
